#:kotodama.host{:catalog :provider-catalog,
                :authority [:kotoba-clj :edn],
                :adapter :wasm-component-model,
                :providers
                [#:kotodama.host{:provider :desktop-host,
                                 :path
                                 "src/kotodama/host_contract.cljc",
                                 :language :cljc,
                                 :role :component-provider,
                                 :world :kotodama/host}
                 #:kotodama.host{:provider :kami-host,
                                 :path
                                 "src/kotodama/host_contract.cljc",
                                 :language :cljc,
                                 :role :component-provider,
                                 :world :kotodama/host}
                 #:kotodama.host{:provider :config-schema,
                                 :path
                                 "resources/kotodama_host/config_schema.edn",
                                 :language :edn,
                                 :role :config-provider,
                                 :world :kotodama/host}
                 #:kotodama.host{:provider :sdk-facade,
                                 :path
                                 "sdk/kotodama-host-sdk/src/host-contract.cljc",
                                 :language :cljc,
                                 :role :facade,
                                 :world :kotodama/host}]}
